{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .chart-container {
            width: 80%;
            margin: 20px auto;
        }
        h1 {
            text-align: center;
        }
    </style>

    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Economic and Functional Uses Charts
            </div>
            <div class="card-body">
                <p class="mt-2 style=text-align: center;">Highlights economically valuable species for targeted development.</p>
                <div class="chart-container">
                    <h2>Proportion of Species by Primary Use</h2>
                    {{ pie_chart_html|safe }}
                </div>
                <hr class="sidebar-divider">
                <div class="chart-container">
                    <h2>Multiple Uses for Each Species</h2>
                    {{ bar_chart_html|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}