{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tangkiran Bamboos</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.css" integrity="sha512-gOfBez3ehpchNxj4TfBZfX1MDLKLRif67tFJNLQSpF13lXM1t9ffMNCbZfZNBfcN2/SaWvOf+7CvIHtQ0Nci2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/piexifjs"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
      {% if deleteMode %}
        $(document).ready(function(){
            $("#deleteModal").modal('show');
        });
      {% endif %}
    </script>

    <style>
        .table-container {
            width: 100%;
            overflow-x: auto;
        }
        .mapholder{
            height: 500px;
            width: 100%;
        }

        #map {
            height: 300px; /* Set your desired fixed height */
            width: 100%; /* Ensure it spans the full width */
            max-height: 300px; /* Restrict the height to this fixed value */
            overflow: hidden; /* Prevent overflow caused by dynamic elements */
        }
        .gm-style-iw {
            display: none; /* Hides the default close button */
        }
    </style>
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      {% include 'sidebar.html' %}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar  -->
          {% include 'topbar.html' %}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            {% include 'messages.html' %}
            <!-- Page Heading -->
            {% block page_heading %}
            {% endblock page_heading %}

            <!-- Content Row -->
            <div class="row">
              <div class="col-xl-10 col-md-4">
                {% block search %}

                {% endblock search %}

                {% block content %}

                {% endblock content %}
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


    <!--  Modals -->
    {% include 'logout_modal.html' %}

    {% include 'delete_missing_rows.html' %}
    {% include 'delete_missing_col.html' %}

    <!-- Javascripts -->
    {% include 'javascripts.html' %}


  </body>
</html>
