{% load static %}
<ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion"  id="accordionSidebar">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="btn btn-secondary btn-block" href="#" >
      <span>Species</span>
    </a>
       <a class="btn btn-secondary btn-block" href="#" >
      <span>Morphological Profile</span>
    </a>
        <a class="btn btn-secondary btn-block" href="#" >
      <span>Phytochemical Profile</span>
    </a>
        <a class="btn btn-secondary btn-block" href="#" >
      <span>Molecular</span>
    </a>
  </li>
</ul>