<div>
        <ul id="green_and_orange_step_menu">
            <li class="first ">Step 1: Create Project</li>
            <li>Step 2: Preprocess Source File<span></span></li>
            <li>Step 3: Create Models<span></span></li>
            <li class="last">Step 4: Make Decision Support<span></span></li>
        </ul>
        <div style="clear:both;"></div>
        <ul id="green_and_orange_step_menu">
            <li class="first fdone">Step 1: Create Project</li>
            <li class="inprogress">Step 2: Preprocess Source File<span></span></li>
            <li>Step 3: Create Models<span></span></li>
            <li class="last">Step 4: Make Decision Support<span></span></li>
        </ul>
        <div style="clear:both;"></div>
        <ul id="green_and_orange_step_menu">
            <li class="first fdone">Step 1: Create Project</li>
            <li class="done">Step 2: Preprocess Source File<span></span></li>
            <li class="inprogress">Step 3: Create Models<span></span></li>
            <li class="last">Step 4: Make Decision Support<span></span></li>
        </ul>
        <div style="clear:both;"></div>
        <ul id="green_and_orange_step_menu">
            <li class="first fdone">Step 1: Create Project</li>
            <li class="done">Step 2: Preprocess Source File<span></span></li>
            <li class="done">Step 3: Create Models<span></span></li>
            <li class="last lastinprogress">Step 4: Make Decision Support<span></span></li>
        </ul>
        <div style="clear:both;"></div>
        <ul id="green_and_orange_step_menu">
            <li class="first fdone">Step 1: Create Project</li>
            <li class="done">Step 2: Preprocess Source File<span></span></li>
            <li class="done">Step 3: Create Models<span></span></li>
            <li class="last ldone">Step 4: Make Decision Support<span></span></li>
        </ul>
    </div>