<div class="row">
    <div class="col-12 col-md-5 offset-7">
        <div>   
            <form class="form my-2 my-lg-0" method="GET" action="{% url 'search-project' %}"  >
                
                <div class="input-group">
                    <input class="form-control  " type="text"  type="text" 
                        name="q"
                        value="{{ request.GET.q }}" 
                        aria-label="Search" 
                        placeholder="Search" 
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

