{% load static %}

<ul class="navbar-nav bg-success sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
    <div class="sidebar-brand-text mx-1">BSDGDSS</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Menu
  </div>

  <!-- Bamboo Species - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Bamboo Species - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="#" onclick="toggleCollapse('species')">
      <span>Manage Species</span>
    </a>
    <div id="species" class="collapse">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'species-list' %}">List</a>
        <a class="collapse-item" href="{% url 'species-create' %}">Create</a>
      </div>
    </div>
  </li>

  {% if species_id and user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="#" onclick="toggleCollapse('profiles')">
      <span>Profiles</span>
    </a>
    <div id="profiles" class="collapse">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="#morpho-card">Morphological Profile</a>
        <a class="collapse-item" href="#pytho-card">Phytochemical Profile</a>
        <a class="collapse-item" href="#mol-card">Molecular Profile</a>
      </div>
    </div>
  </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Bamboo Species Locations - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="#" onclick="toggleCollapse('coord')">
      <span>Species Locations and Population</span>
    </a>
    <div id="coord" class="collapse">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'coord-list' %}">List</a>
        <a class="collapse-item" href="{% url 'coord-create' %}">New Location</a>
      </div>
    </div>
  </li>

  <!-- Decision Supports -->
  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link" href="#" onclick="toggleCollapse('confirm_user')">
      <span>Decision Support</span>
    </a>
    <div id="confirm_user" class="collapse">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'bamboo-heatmap' %}">Population Density</a>
        <a class="collapse-item" href="{% url 'habitat-insights' %}">Habitat Suitability</a>
        <a class="collapse-item" href="{% url 'uses-insights' %}">Economic and Functional Uses</a>
        <a class="collapse-item" href="{% url 'morphological-insights' %}">Morphological Features</a>
        <a class="collapse-item" href="{% url 'phytochemical-insights' %}">Phytochemical Compositions</a>
        <a class="collapse-item" href="{% url 'molecular-insights' %}">Molecular Profiles</a>
        <a class="collapse-item" href="{% url 'propagation-rhizome-insights' %}">Propagation and Rhizome Charts</a>
        <a class="collapse-item" href="{% url 'population-collection-insights' %}">Population and Collection Trends</a>
      </div>
    </div>
  </li>


  <hr class="sidebar-divider">

  <div class="container mt-4">
    <div class="copyright text-center my-auto">
    <span>Copyright &copy; 2024</span>
    </div>
  </div>

  <!-- Administration -->
  <!--<li class="nav-item">-->
  <!--  <a class="nav-link" href="#" onclick="toggleCollapse('confirm_user')">-->
  <!--    <span>Administration</span>-->
  <!--  </a>-->
  <!--  <div id="confirm_user" class="collapse">-->
  <!--    <div class="bg-white py-2 collapse-inner rounded">-->
  <!--      <a class="collapse-item" href="{% url 'confirm_users' %}">Confirm User(s)</a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</li>-->

  <!--<hr class="sidebar-divider">-->

  <!-- Sidebar Toggler -->
  <!--<div class="text-center d-none d-md-inline">-->
  <!--  <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
  <!--</div>-->
</ul>
