{% load static %}

<ul class="navbar-nav bg-success sidebar sidebar-dark accordion"  id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
    <!--<div class="sidebar-brand-icon">-->
    <!--    <img class="mr-1" src="{% static 'logo/csu.png' %}" alt="CSU Logo" style="width: 40px">-->
    <!--</div>-->
    <div class="sidebar-brand-text mx-1">Tangkiran</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Menu
  </div>

  <!-- Bamboo Species - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link " href="{% url 'home' %}">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Bamboo Species - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#species" aria-expanded="true"
      aria-controls="collapseTwo">
      <span>Manage Species</span>
    </a>
    <div id="species" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'species-list' %}">List</a>
        <a class="collapse-item" href="{% url 'species-create' %}">Create</a>
      </div>
    </div>
  </li>
  {% if species_id and user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#profiles"
    aria-expanded="false" aria-controls="collapseTwo">
        Profiles
    </a>
    <div id="profiles" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="#morpho-card">Morphological Profile</a>
        <a class="collapse-item" href="#pytho-card">Phytochemical Profile</a>
        <a class="collapse-item" href="#mol-card">Molecular Profile</a>
      </div>
    </div>
  </li>
  {% endif %}
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Bamboo Species LOCATIONS - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'species-list' %}" data-toggle="collapse" data-target="#coord" aria-expanded="true"
        aria-controls="collapseTwo">

      <span>Species Locations and Population</span>
    </a>
    <div id="coord" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'coord-list' %}">List</a>
        <a class="collapse-item" href="{% url 'coord-create' %}">New Location</a>
      </div>
    </div>
  </li>

<!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Bamboo Species LOCATIONS - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#confirm_user" aria-expanded="true"
        aria-controls="collapseTwo">

      <span>Administration</span>
    </a>
    <div id="confirm_user" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'confirm_users' %}">Confirm User(s)</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider">


  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>